# editorconfig.org

root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = tab

[*.{md,yml,yaml,json,toml,htm,html,js,css,svg,sh,bash}]
indent_style = space
indent_size = 2
