name: Test

on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x, 1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.platform}}
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go ${{matrix.go-version}}
        uses: actions/setup-go@v6
        with:
          go-version: ${{matrix.go-version}}

      - name: Test
        run: go run ./cmd/task test
