name: Website Deploy

on:
  push:
    branches:
      - master

jobs:
  website-deploy:
    name: Website Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
          cache-dependency-path: ./docs/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: ./docs

      - name: Build website
        run: yarn build
        working-directory: ./docs

      - name: Website Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
